<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142675589929-5crqo44sh3268qln31f8b1e690a54o7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142675589929-5crqo44sh3268qln31f8b1e690a54o7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBcGBrgVdY7zKypkgk8uRskTOsAnc53jrI</string>
	<key>GCM_SENDER_ID</key>
	<string>142675589929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wlbbot</string>
	<key>PROJECT_ID</key>
	<string>wlbbot-fdd9e</string>
	<key>STORAGE_BUCKET</key>
	<string>wlbbot-fdd9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142675589929:ios:1aeac69cfeae228aead538</string>
</dict>
</plist>